%h2
  Edit #{resource_name.to_s.humanize}

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!

  .row
    .large-6.small-12.columns
      = f.label :name
      = f.text_field :name, autofocus: true
      %br/

  .row
    .large-6.small-12.columns
      = f.label :email
      = f.email_field :email
      %br/

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      .row
        .large-6.small-12.columns
          Currently waiting confirmation for: #{resource.unconfirmed_email}

  .row
    .large-6.small-12.columns
      = f.label :password
      = f.password_field :password, :autocomplete => "off", placeholder: "leave blank if you don't want to change it"
      %br/
    
  .row
    .large-6.small-12.columns
      = f.label :password_confirmation
      = f.password_field :password_confirmation
      %br/
    
  .row
    .large-6.small-12.columns
      = f.label :current_password
      = f.password_field :current_password, placeholder: 'we need your current password to confirm your changes'
      %br/
    
  .row
    .large-12.small-12.columns
      %button.large-1.small-4.columns= link_to "Back", :back
      .large-11.small-5.columns= f.button :update

%hr

  .row
    %h3.large-4.small-12.columns Cancel my account
    .large-8.small-12.columns
      %button= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete