%h2 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  
  .row
    .large-6.small-12.columns
      = f.label :name
      = f.text_field :name, autofocus: true
      %br/
  
  .row  
    .large-6.small-12.columns
      = f.label :email
      = f.email_field :email
      %br/
  
  .row  
    .large-6.small-12.columns
      = f.label :password
      = f.password_field :password
      %br/
  
  .row  
    .large-6.small-12.columns
      = f.label :password_confirmation
      = f.password_field :password_confirmation
      %br/

  .row  
    .large-6.small-12.columns
      = f.label :photo
      = f.file_field :photo
      %br/
    
  .row
    .small-12.large-2.columns= f.button :submit, value: "Sign up"
    .small-12.columns= render "devise/shared/links"