= form_for(current_user) do |f|
  = render "shared/error_messages", target: current_user
  .field
    = f.label :name
    = f.text_field :name
  
  .field
    = f.label :email
    = f.text_field :email
  
  .field
    = f.label :description
    = f.text_area :description
  
  .field
    = f.label :password
    = f.text_field :password
  
  .field
    = f.label :password_confirmation
    = f.text_field :password_confirmation
  
  .actions
    = f.submit