<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= current_user.name %>
</p>

<p>
  <b>Email:</b>
  <%= current_user.email %>
</p>

<p>
  <b>Description:</b>
  <%= current_user.description %>
</p>

<p>
  <b>Password:</b>
  <%= current_user.password %>
</p>

<p>
  <b>Password confirmation:</b>
  <%= current_user.password_confirmation %>
</p>


<%= link_to 'Edit', edit_user_registration_path %> |
<%= link_to 'Back', "/" %>
