%p#notice= notice

.large-12-small-12.columns
  .row
    %p.small-12.large-12-columns
      %b Name:
      = current_user.name

    %p.small-12.large-12-columns
      %b Email:
      = current_user.email

    %p.small-12.large-12-columns
      %b Description:
      = current_user.description

    %p.small-12.large-12-columns
      %b
        = link_to 'Create course', new_course_path
    
    .small-12.large-12-columns    
      = link_to 'Back', "/"
      |
      = link_to 'Edit', edit_user_registration_path