%h2 Sign in
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .row
    .large-6.small-12.columns
      = f.label :login
      = f.text_field :login, :autofocus => true
      %br/
  
  .row
    .large-6.small-12.columns
      = f.label :password
      = f.password_field :password
      %br/
  
  .row
    - if devise_mapping.rememberable?
      .large-2.small-5.columns= f.button 'sign in'
    
    .large-10.small-7.columns
      .row
        %br/
        .large-2.small-8.columns= f.label :remember_me
        .large-10.small-2.columns= f.check_box :remember_me  
  

= render "devise/shared/links"