= form_for(@course) do |f|
  
  = render "shared/error_messages", target: @course
  
  %section.row
    
    %article.small-12.large-12.columns
      
      = f.label :title
      = f.text_field :title
     
      / Pendiente: Debe aparecer el nombre pero se guarda en memoria el user_id
      = f.label :author
      = f.collection_select :author, User.all, :id, :name
     
      / Pendiente: máximo número de carácteres, y tamaño máximo y mínimo
      = f.label :description
      = f.text_area :description
   
    %article.small-12.large-6.columns
     
      / Pendiente: modificar a select e introducir idiomas
      = f.label :language
      = f.text_field :language
      = f.label :price
      = f.number_field :price

    %article.small-12.large-6.columns
     
      / Pendiente: modificar a select e introducir categorias
      = f.label :category
      = f.text_field :category
      
      / Pendiente: ocultar, visible cuando price > 0
      = f.label :bank_account
      = f.text_field :bank_account
    
    %article.small-12.large-12.columns
      
      = f.label :image
      = f.file_field :image
    
    %article.small-6.large-6.columns
     
      %br/
      %button #{link_to 'Back', current_user}
    
    %article.small-6.large-6.columns
     
      %br/
      = f.button :submit