%h1 Listing courses

%section.row
  %ul.small-block-grid-1.large-block-grid-2
    - if @courses.size > 0
      - @courses.each do |course|
        %li.panel
          %a{href: "/courses/#{course.id}"}
            %h4= course.title
            %h5= course.author
            %h6
              = course.price
              = course.category