%p#notice= notice

%h1
  %b Title:
  = @course.title
%p
  %b Description:
  = @course.description

%p
  %b Author:
  = @course.author

%p
  %b Language:
  = @course.language

%p
  %b Category:
  = @course.category

%p
  %b Image:
  = @course.image

%p
  %b Price:
  = @course.price

%p
  %b Bank account:
  = @course.bank_account

- if @course.comments.size > 0
  %h2 Comments
  - for comment in @course.comments
    %h3= comment.author
    %p= comment.content

%h2 New Comment
= form_for [@course, Comment.new] do |f|
  %p
    = f.label :author
    = f.text_field :author, value: "#{current_user.id}"
  %p= f.text_area :content, :rows => 10
  %p= f.button :comment

= link_to 'Back', courses_path