!!!
/[if IE 9] <html class="lt-ie10" lang="en" >
%html.no-js{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "e-learning"

    = stylesheet_link_tag    "normalize"
    = stylesheet_link_tag    "foundation"
    = javascript_include_tag "modernizr"
  
  %body
    
    %header.header
      %nav.top-bar{"data-topbar" => ""}
        %ul.title-area   
          %li.name
            %h1= link_to 'HOME', '/'
          %li.toggle-topbar.menu-icon
            %a{:href => "#"}
              %span Menu
        
        %section.top-bar-section
          %ul.right

            %li= link_to "Courses", courses_path
            = render 'shared/navigation'

    

    %section.row
      %article.small-12.large-12.columns
        = yield

    - flash.each do |name, msg|
      - if msg.is_a?(String)
        = content_tag :div, msg, :id => "flash_#{name}"
    
    = javascript_include_tag "vendor/jquery"
    = javascript_include_tag "foundation.min"
    = javascript_include_tag "foundation.topbar"
    = javascript_include_tag "foundation.alert"
    = javascript_include_tag "foundation.tooltip"

    :javascript
      $(document).foundation();